body{
   margin: 0px;
   padding: 0px;
}
ul{
    margin: 0px;
    padding: 0px;
}
.my_menu{
   position: absolute;
   width: 100%;
   height: auto; 
    background-color: dodgerblue;  
}

.menu li{
    list-style: none;
    width: 160px;
    height: 90px;
background-color:dodgerblue ;
margin-left: 5px;
text-align: center;
line-height: 90px;
float: left;
}
.menu li :hover{
    background-color: black;
}
.menu li a:hover{
     color: aqua;   
    }
    .menu li a{
color: white;
display: block;
text-decoration: none;
}
.logo{
    width: 55px;

}
.logo_li :hover{
background-color: orangered !important;
}
.logo_li a{
    font-size: 30px;
    background-color: orangered;
}
.logo_li a:hover{
color: white !important;
}
.menu ul li{
margin: 0px;
}
.menu ul{
    display: none;
}
.menu li:hover ul{
    display: block;
}

/* banner */
#banner{
    width: 100%;
}
#banner img{
    margin-top: 75px;
    width: 100%;

}

/* why_choose */
#why_choose{
    width: 100%;
    text-align: center;
}

#why_choose h1{
    margin: 0 auto;
    width: 300px;
  font-size: 30px; 
  color: red; 
  border-bottom: 2px solid red;
}
.div_section1{
    width: 20%;
    height: 300px;
    margin: 30px;
   
    float: left;
}
.icon{
    width: 120px;
    height: 120px;
    border: 1px solid gray;
    margin: 10px auto;
line-height: 120px;
font-size: 50px;
background-color: darkred;
color: white;
border-radius: 100px;
transition-duration: 0.3s;
}
.icon:hover{
    font-size: 40px;
}
/* section2 */
.section2{
   display: inline-block; 
    width: 100%;
    text-align: center;
}
.section2 h1{
    margin: 0 auto;
    width: 300px;
  font-size: 30px; 
  color: red; 
  border-bottom: 2px solid red;
}
    .div_section2{
          width: 30%;
    height: 300px;
    margin: 20px;
    float: left;
    }

.div_section2 img{
    width: 100%;
}

/* footer */
.footer{
    position: absolute;
    width: 100%;
    height: auto;
    background-color: black;

}

.footer_div{
 width: 20%;
    height: auto;
    margin: 30px;
   
    float: left;    
}
.footer_div h1{
    color: red;
}
.footer p{
    color: whitesmoke;
}

.footer_div button{
    margin-top: 20px;
    background-color: red;
    border: none;
    color: white;
    width: 120px;
    height: 40px;
}
.footer_div ul li{

    list-style: none;
}
.footer_div ul li a{
    color: white;
   font-size: 18px; 
   text-decoration: none;
   font-weight: bold;
}
.social_link{
   color: white;
}
.under_footer{
    display: inline-block;
    width:  100%;
height: 60px;
text-align: center;
background-color: white;
}
.footer1{
    width: 50%;
    float: left;
}
.footer1 p{
    color: black;
}
.div_about{
color:black;
background-color: aliceblue;
}
/* banner */

.banner_2 ul{
    color: black;
background-color: aliceblue;
}
.banner_3{
    color: black;
    background-color: aliceblue;
}
.div_android{
    color: black;
    background-color: aliceblue;
}
